

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  align-items: center;
}


#logo {
  padding-right: 200px;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  color: MediumAquamarine;
  flex-grow: 4

}

.nav {
  display: inline-block;
  padding: 0px 10px;
}

.nav a {
  color: black;
}

#last {
  margin-right: 40px;
}

.container {
  display: flex;
  border: 1px solid black;
}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-left: 0;
}

.column1 {
  border: 1px solid black;
  margin: 0 10px 0 0;
}

.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column2 {
  border: 1px solid black;
  margin: 0px 10px;
}

.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.column3 {
  border: 1px solid black;
  margin-left: 10px;
  overflow: hidden;
}

.column3 img {

}
